/.mvn
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/.name
/.idea/encodings.xml
/.idea/copyright
/.idea/libraries
/.idea/modules.xml
/.idea/compiler.xml
/.idea
/.idea/inspectionProfiles
/.idea/vcs.xml
/src/main
/mvnw
/AreaManager.iml
/mvnw.cmd
/profiles.xml
/pom.xml
/target
